body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: white;
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}
header {
  width: 100%;
  background-color: @bg-base;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  height: 50px;
  z-index: 1100;
  .logo {
    img {
      background-color: @bg-shark;
      margin: 0 auto;
      padding: 10px;
      width: 200px;
    }
  }
}
.title-aside{
  color: @c-aside-title;
  margin: 20px;
  border-bottom: 1px solid @c-aside-title;
  text-align: left;
  height: 30px;
  font-weight: 500px;
}
aside {
  background-color: @bg-base;
  width: 220px;
  position: absolute;
  top: 50px;
  float: left;
  padding: 25px 0 0 0;
  height: 1100px;
}
aside {
  ul{
    padding: 0px;
    li{
    list-style-type:  none;
      a {
        display: block;
        line-height: 50px;
        border-right: 4px solid transparent;
        cursor: pointer;
        transition: background-color .3s linear, border-right-color .3s linear, color .3s linear;
        color: @c-white !important;
        padding: 0 0 0 30px;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 600;
        i{
          color: @c-aside-icons;
        }
      }
    }
  }
}

aside a{
  &:focus,
  &:hover{
    background-color: #1d1b1b;
    font-weight: 700px !important;
  }
}

.active{
  background-color: #1d1b1b !important;
  border-right-color: #fdcc1c !important;
}

.main {
  width: auto;
  position: absolute;
  top: 50px;
  left: 220px;
  bottom: 0px;
  right: 0px;
  background: @bg-main;
  transition: all 0.3s;
  box-sizing: border-box;
  height: 1100px;
}
.m-t-lg{
  margin-top: 50px;
}
.m-r-sm{
  margin-right: 10px;
}
.chart1{
  width: 800px !important;
  height: 400px !important;
  display: inline-block;
}
.chart2{
  width: 70%;
  display: inline-block;
}
.chart3{
  width: 20%;
  display: inline-block;
}
.display-inline{
  display: inline-block;
}
/* News Container */
.news{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .news-container{
    margin: 10px;
    background-color: @c-white;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    width: 300px;
    .header{
      padding: 10px;
      font-size: 0.8rem;
      .watch{
        h3{
          color: @c-aside-icons;
          margin: 0px;
          display: inline-block;
          font-weight: 500;
        }
        h4{
          color: #D7D7D7;
          float: right;
          margin: 0px;
          display: inline-block;
          font-weight: 500;
        }
      }
      .watched{
        border-bottom: 1px solid #D7D7D7;
        line-height: 20px;
        text-align: center;
        a{
          color: #D7D7D7;
          text-decoration: none;
          text-align: center;
        }
      }
    }
    .body{
      .title{
        font-size: 1rem;
        padding: 10px;
      }
      .image
      {
        img{
          width: 100%;
        }
      }
      .description{
        padding: 15px;
        text-align: left;
        font-size: 1rem
      }
    }
    .footer{
      border-top: 1px solid #D7D7D7;
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      a{
        color: #D7D7D7;
        text-decoration: none;
      }
    }
  }
}
.center{
  text-align: center;
}