*{
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container{
  min-height: 100%;
  color: #4d4d4d;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  overflow-x: hidden;
}

.app-header {
  background-color: @bg-base;
  min-height: 8vh;
  width: 100%;
  z-index: 200;
  header{
    display: flex !important;
    justify-content: space-between;
    .logo {
      background-color: @bg-shark;
      width: 220px;
      img{
        padding: 10px;
        width: inherit;
      }
    }
    .admin{
      color: @c-white;
      display: inherit;
      font-size: 13px;
      padding: 15px;
      height: 100%;
      .icon-nav{
        font-size: 1.2rem;
        margin-left: 10px;
      }
    }
  }
}

.wrapper{
  min-height: 92vh;
  display: flex;
  flex-direction: row;
  .aside {
    background-color: @bg-base;
    width: 220px;
    flex: 0;
  }
  .aside {
    ul{
      padding: 0px;
      li{
        list-style-type:  none;
        a {
          display: block;
          line-height: 50px;
          border-right: 4px solid transparent;
          cursor: pointer;
          transition: background-color .3s linear, border-right-color .3s linear, color .3s linear;
          color: @c-white !important;
          padding: 0 0 0 30px;
          text-decoration: none;
          letter-spacing: 1px;
          font-weight: 600;
          i{
            color: @c-aside-icons;
          }
        }
      }
    }
  }
  .aside a{
    &:focus,
    &:hover{
      background-color: #1d1b1b;
      font-weight: 700px !important;
      transition: background-color .3s linear, border-right-color .3s linear, color .3s linear;
    }
  }
  .main {
    background: @bg-main;
    flex: 1;
  }
}

@media (max-width:991px) {
  .aside {
    display: none;
  }
}